# Entornos virtuales
.venv/
env/
venv/

# Archivos de Python generados automáticamente
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de build o salida
_output/
build/
dist/
*.spec

# Configuraciones de IDEs
.idea/
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales o de pruebas
*.tmp
*.log

# Imágenes temporales
sample.jpg

# Archivos que no quieras subir por tamaño o privacidad
*.psd
*.zip

# Carpetas de procesamiento (donde se mueven las imágenes procesadas)
_processed/

# Archivos de configuración local (para no sobrescribir tus ajustes personales)
settings.json
custom_buttons.json

# Scripts de prueba y reproducción de errores
test_*.py
repro_*.py

# Carpetas de entorno de pruebas
*_env/
